@inherits LayoutComponentBase
@using ShowMoBud.Layout
@using ShowMoBud.Pages.Shared
@using ShowMoBud.Pages.Authentication
@using MudBlazor



<MudThemeProvider Theme="ShowMoBudTheme.Theme" IsDarkMode="true"/>
<MudDialogProvider />
<MudSnackbarProvider />

<Navbar OnOpenRegister="OpenRegister"
        OnOpenMap="OpenMap"/>

<div style="height:64px"></div>

@Body

@if (showMap)
{
    <Pages.Map.MapOverlay OnClose="CloseMap" />
}

@if (showRegister)
{
    <div class="overlay-backdrop smb-overlay-z">
        <Register OnClose="CloseRegister" @key="showRegister" />
    </div>
}

@code {
    private bool showMap = false;
    private bool showRegister = false;
    public async Task OpenRegister()
    {
        showRegister = true;
        await InvokeAsync(StateHasChanged);
    }
    public async Task CloseRegister()
    {
        showRegister = false;
        await InvokeAsync(StateHasChanged);
    }

    public async Task OpenMap()
    {
        showMap = true;
        await InvokeAsync(StateHasChanged);
    }
    public async Task CloseMap()
    {
        showMap = false;
        await InvokeAsync(StateHasChanged);
    }
}
